<%= form_with(model:[@illust, @illust_comment]) do |f| %>
    <div id="comments-error">
    <%= render 'layouts/error_messages', model: f.object %>
    </div>
    <%= f.text_area :illust_comment, rows:'5',placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>