<div class="container">
  <ul class="clearfix">
    <li><% illusts.each do |illust| %>
             <%= link_to illust_path(illust.id) do %>
                <% illust.illust_images.each do |illust_image| %>
                 <%= image_tag(illust_image, width:400, height:350) %>
                <% end %>
              <% end %>
    <% end %></li>
  </ul>
  <div class="row">
<%= paginate illusts %>
</div>
</div>